<!-- //users/activeUser.js -->

<% layout("/layouts/boilerplate") %>

<head>
  <title>Active User Profile</title>
   <style>
    .container3 {
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #b6b6b6;
      border-radius: 15px;
    }

    .pen {
      font-size: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      color: rgb(0, 0, 0);
      cursor: pointer;
    }

    .useractive {
      font-size: 80px;
      background: none;
      color: rgb(0, 0, 0);
      margin-bottom: 8px;
    }

    .bioContent {
      font-size: 20px;
      color: rgb(0, 0, 0);
    }

    .bioContent:hover {
      cursor: pointer;
    }

    .editBio {
      margin-bottom: 8px;
    }
  </style>
</head>

<body>
  <div class="container3 mt-3">
    <p class="editBio text-end">
      <i class="fa-regular fa-pen-to-square pen"></i>
    </p>
    <p class="useractive text-center">
      <i class="fa-solid fa-user"></i>
    </p>
    <h4 class="text-center bioContent"><%= currUser.username %></h4>
    <h4 class="text-center bioContent"><%= currUser.email %></h4>
    <h4 class="text-center bioContent">Delete Account</h4>
  </div>
</body>
