<% layout("/layouts/boilerplate") %>

<body>
  <br /><br /><br />
  <h3 class="mt-2 col-4 offset-4">Login on ShopCart</h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <form
          action="/register"
          method="post"
          class="needs-validation"
          novalidate
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="password"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-success mt-3 col-4 offset-4">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
  <br /><br />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor inventore
    aperiam sed sint itaque qui quam magni labore, eligendi asperiores minus quo
    consequatur quisquam! Dolores ab saepe voluptate eligendi eveniet
    praesentium, architecto explicabo accusantium asperiores incidunt nam quis
    sit facilis at dolorem placeat odit perspiciatis corporis maxime cupiditate
    quia blanditiis atque repellat accusamus. Modi explicabo cum delectus
    voluptas natus autem nesciunt placeat consequuntur commodi asperiores eum
    impedit incidunt iusto eveniet quidem, tenetur dolor ullam repellat eius
    velit nostrum a repellendus amet laborum! Pariatur doloribus magni ea quo
    quis culpa ab, mollitia ipsum incidunt. Odit laudantium totam quam molestias
    quos animi quis deserunt, facere sapiente temporibus? Dignissimos voluptatum
    ducimus placeat tempore! Earum quisquam voluptates dolor eos accusantium
    blanditiis cum saepe corporis.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor inventore
    aperiam sed sint itaque qui quam magni labore, eligendi asperiores minus quo
    consequatur quisquam! Dolores ab saepe voluptate eligendi eveniet
    praesentium, architecto explicabo accusantium asperiores incidunt nam quis
    sit facilis at dolorem placeat odit perspiciatis corporis maxime cupiditate
    quia blanditiis atque repellat accusamus. Modi explicabo cum delectus
    voluptas natus autem nesciunt placeat consequuntur commodi asperiores eum
    impedit incidunt iusto eveniet quidem, tenetur dolor ullam repellat eius
    velit nostrum a repellendus amet laborum! Pariatur doloribus magni ea quo
    quis culpa ab, mollitia ipsum incidunt. Odit laudantium totam quam molestias
    quos animi quis deserunt, facere sapiente temporibus? Dignissimos voluptatum
    ducimus placeat tempore! Earum quisquam voluptates dolor eos accusantium
    blanditiis cum saepe corporis.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor inventore
    aperiam sed sint itaque qui quam magni labore, eligendi asperiores minus quo
    consequatur quisquam! Dolores ab saepe voluptate eligendi eveniet
    praesentium, architecto explicabo accusantium asperiores incidunt nam quis
    sit facilis at dolorem placeat odit perspiciatis corporis maxime cupiditate
    quia blanditiis atque repellat accusamus. Modi explicabo cum delectus
    voluptas natus autem nesciunt placeat consequuntur commodi asperiores eum
    impedit incidunt iusto eveniet quidem, tenetur dolor ullam repellat eius
    velit nostrum a repellendus amet laborum! Pariatur doloribus magni ea quo
    quis culpa ab, mollitia ipsum incidunt. Odit laudantium totam quam molestias
    quos animi quis deserunt, facere sapiente temporibus? Dignissimos voluptatum
    ducimus placeat tempore! Earum quisquam voluptates dolor eos accusantium
    blanditiis cum saepe corporis.
  </p>
</body>
