<% layout("/layouts/boilerplate") %>

<body>
  <h3 class="mt-2 col-4 offset-4" >Login on ShopCart</h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <form
          action="/register"
          method="post"
          class="needs-validation"
          novalidate
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="password"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-success mt-3 col-4 offset-4">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda deserunt
    distinctio minus, at omnis eligendi fuga aliquam consectetur tenetur nemo
    commodi amet et sunt quisquam? Magni obcaecati quibusdam tempore sequi dicta
    error praesentium est eius dolorum, qui, beatae quos vitae officiis
    accusamus quasi maxime veritatis aspernatur sed eligendi doloribus fuga
    impedit voluptas eum eveniet. Saepe nisi pariatur mollitia veritatis nam ea
    error, quidem laborum aliquam. Excepturi nemo a officia doloribus voluptates
    accusantium veniam vel impedit quam, tempora explicabo illo nesciunt
    accusamus quas recusandae quibusdam nulla ad quisquam id nobis possimus
    pariatur vero. Reprehenderit culpa assumenda iusto non, suscipit est!
    Ducimus quo, ullam, maxime magni molestias labore officiis natus nemo
    architecto eos tenetur. Voluptatem esse beatae ullam consequuntur dicta
    excepturi sint doloremque, ea, suscipit incidunt repellendus tenetur dolor,
    commodi deserunt vel. Inventore, autem saepe unde id quidem porro, officia
    quibusdam facere odio eum nemo officiis tenetur? Laborum dolorum est unde
    veniam!
  </p><br>
</body>
