<% layout("/layouts/boilerplate") %>

 <!-- new.ejs -->
 
<body>
  <div class="container mt-5 col-8 offset-2">
    <h2 class="mb-4 text-center">Add Product</h2>
    <form
      action="/product/add"
      method="POST"
      enctype="multipart/form-data"
      class="needs-validation"
      novalidate
    >
      <div class="form-group mb-3">
        <label for="productname"><b>Product Name:</b></label>
        <input
          type="text"
          class="form-control"
          id="productname"
          name="product[productname]"
          required
        />
        <div class="invalid-feedback">Please enter a product name.</div>
      </div>
      <div class="form-group mb-3">
        <label for="description"><b>Description:</b></label>
        <textarea
          class="form-control"
          id="description"
          name="product[description]"
          rows="3"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a product description.</div>
      </div>
      <div class="form-group mb-3">
        <label for="quantity"><b>Quantity:</b></label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          name="product[quantity]"
          required
        />
        <div class="invalid-feedback">Please enter a valid quantity.</div>
      </div>
      <div class="form-group mb-3">
        <label for="category"><b>Category:</b></label>
        <input
          type="text"
          class="form-control"
          id="category"
          name="product[category]"
          required
        />
        <div class="invalid-feedback">Please enter a category.</div>
      </div>
      <div class="form-group mb-3">
        <label for="image"><b>Product Image:</b></label>
        <input
          type="file"
          class="form-control-file"
          id="image"
          name="product[image]"
          required
        />
        <div class="invalid-feedback">Please upload an image.</div>
      </div>
      <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary btn-lg">
          Add Product
        </button>
      </div>
    </form>
  </div>
</body>
