
<!-- products.ejs -->

<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" type="text/css" href="../../public/css/products.css" />
</head>
<body>
  <div class="products">
    <% products.forEach(product => { %>
        <div class="product">
          <img src="<%= product.image %>" alt="<%= product.productname %>" />
          <h6><%= product.productname %></h6>
          <button class="btn btn-success btn-sm">Add in cart</button>
        </div>
    <% }); %>
  </div>
</body>
