<!-- footer.ejs -->
<head>
  <link rel="stylesheet" href="../../public/css/footer.css" />
</head>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h5 class="text-center">Follow Us</h5>
        <ul class="list-inline social-icons text-center">
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-google"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-threads"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">&copy; 2024 Blogify. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
