<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../../public/css/footer.css" />
  </head>
  <body>
    <footer id="footer">
      <div class="col col1">
        <div><h3>ShopCart</h3></div>
        <div>
          <p>Made with <span style="color: #ba6573">❤</span> by Me</p>
        </div>

        <div class="social">
          <a href="https://codepen.io/Juxtopposed" target="_blank" class="link"
            ><img src="https://assets.codepen.io/9051928/codepen_1.png" alt=""
          /></a>
          <a href="https://twitter.com/juxtopposed" target="_blank" class="link"
            ><img src="https://assets.codepen.io/9051928/x.png" alt=""
          /></a>
          <a
            href="https://youtube.com/@juxtopposed"
            target="_blank"
            class="link"
            ><img src="https://assets.codepen.io/9051928/youtube_1.png" alt=""
          /></a>
        </div>
        <div>
          <p style="color: #818181; font-size: smaller">
            2024 © All Rights Reserved
          </p>
        </div>
      </div>

      <div class="col col2">
        <p>About</p>
        <p>Our mission</p>
        <p>Privacy Policy</p>
        <p>Terms of service</p>
      </div>
      <div class="col col3">
        <p>Services</p>
        <p>Products</p>
        <p>Join our team</p>
        <p>Partner with us</p>
      </div>
      <div class="backdrop"></div>
    </footer>
  </body>
</html>
