<!-- footer.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../public/css/footer.css" />
  </head>
  <body>
    <div class="fullFooter">

      <footer id="footer">
        <div class="col col1">
          <p>careers</p>
          <p>payments</p>
          <p>shipping</p>
          <p>cancellation and returns</p>
          <p >
            <i class="fa-regular fa-copyright"></i> All Rights Reserved
          </p>
        </div>
     
        <div class="col col2">
          <p>Our mission</p>
          <p>Terms of service</p>
          <p>FAQ</p>
          <p>Terms of use</p>
          <p>Security</p>
        </div>

        <div class="col col3">
          <p>Services</p>
          <p>Products</p>
          <p>Join our team</p>
          <p>Partner with us</p>
          <p>privacy policy</p>
        </div>
      </footer>

      <div class="socialMedia">
        <div class="para">
          <p >Follow Us On</p>
        </div>
        <div class="icons">
          <i class="fa-brands fa-meta"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-regular fa-envelope"></i>
          <i class="fa-brands fa-google"></i>
          <i class="fa-brands fa-threads"></i>
        </div>
      </div>
    </div>
    
  </body>
</html>
