<!-- Navbar.ejs -->

<head>
  <link rel="stylesheet" href="../../public/css/navbar.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light cols-12">
  <img class="navbar-brand logo" src="../../public/images/shopcart.jpg" />
  <a class="nav-link" href="/add">Add Product</a>

  <!-- Hamburger icon for small screens -->
  <i class="hamburger fa-solid fa-bars"></i>

  <input type="text" class="search" placeholder="Search" />

  <div class="navbar-nav ms-auto">
    <% if(!currUser) { %>
    <a class="nav-link" href="/signup">Signup</a>
    <a class="nav-link" href="/login">Login</a>
    <% } %> <% if(currUser) { %>
    <a class="nav-link" href="logout">Logout</a>
    <% } %>
  </div>
</nav>
