<head>
  <link rel="stylesheet" href="../../public/css/navbar.css">
</head>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light cols-12"
      style="height: 55px; position: fixed; top: 0px; width: 100vw"
    >
      <div class="container">
        <i class="hamburger fa-solid fa-bars"></i>

        <img class="navbar-brand logo" src="../../public/images/shopcart.jpg" />

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Products</a>
            </li>
            <li >
              <a class="nav-link" href="/user">About</a>
            </li>
            <li class="nav-item">
              <input type="text" class="search" placeholder="Q">
            </li>
            
           
          </ul>
        </div>
      </div>
    </nav>

