<!-- Navbar.ejs -->

<head>
  <link rel="stylesheet" href="../../public/css/navbar.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light cols-12">
  <img class="navbar-brand logo" src="../../public/images/shopcart.jpg" />
  <a class="add nav-link" href="/add">Home</a>
  <a class="add nav-link" href="/add">About</a>
  <a class="add nav-link" href="/add">Add Product</a>

  <input type="text" class="search" placeholder="Search" />
  <i class="glass fa-solid fa-magnifying-glass"></i>
  <i class="cart fa-solid fa-cart-shopping"> 
    <span class=" cartBadge badge text-bg-success">4</span>
  </i>

  <div class="navbar-nav">
    <% if(!currUser) { %>
    <a class="nav-link" href="/signup">Signup</a>
    <a class="nav-link" href="/login">Login</a>
    <% } %> <% if(currUser) { %>

    <a class="nav-link" href="logout">Logout</a>
    <% } %>
  </div>
</nav>
