<head>
  <link rel="stylesheet" href="../../public/css/navbar.css" />
</head>
<nav
  class="navbar navbar-expand-lg navbar-light bg-light cols-12"
  style="height: 55px; position: fixed; top: 0px; width: 100vw"
>
  <div class="container">
    <i class="hamburger fa-solid fa-bars"></i>

    <img class="navbar-brand logo" src="../../public/images/shopcart.jpg" />

    <input type="text" class="search" placeholder="Q" />
    <div class="navbar-nav ms-auto">
      <a class="nav-link" href="/signup">Signup</a>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="logout">Logout</a>
    </div>
  </div>
</nav>
