node_modules/
.env

import {v2 as cloudinary} from 'cloudinary';
          
cloudinary.config({ 
  cloud_name: 'dsm8x1obr', 
  api_key: '955596486481944', 
  api_secret: 'j6ts37yemlNinxgoDUS-AmZqPVw' 
});