/* blogs.css */

.blogPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-container {
  width: calc(33.33% - 20px); 
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
}

.blog-container:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.blog-header {
  padding: 10px 20px;
}

.blog-title {
  margin-bottom: 10px;
  font-size: 18px;
  color: orange;
}

.blog-meta {
  font-style: italic;
  color: #666;
}

.blog-content {
  padding: 10px 20px;
}

.profile-image {
  width: 100%;
  margin-bottom: 10px;
}
.blogProfile {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.blogProfile img {
  height: 70px;
  width: 70px; 
}


@media (max-width: 991px) {
  .blog-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .blog-container {
    width: calc(100% - 20px);
  }
}
