@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");

#footer {
  background-color: black;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0px;
}

.col1 .col2 .col3 {
  width: 200px;
  margin: 0 10px;
}
.col1 {
  background-color: rgb(62, 56, 56);
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col2 {
  background-color: rgb(145, 145, 145);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col3 {
  background-color: rgb(145, 145, 145);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
