.body {
  padding-top: 56px;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* Navbar background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Navbar shadow */
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
} */

.logo {
  max-height: 50px;
  margin-left: 20px; /* Logo max height */
}

.hamburger {
 font-size: 22px;
 opacity: 0.7;
}

.user {
  opacity: 0.7;
  font-size: 22px;
}

@keyframes hoverAnimation {
  0% {
    font-size: 20px;
    opacity: 0.7;
  }
  100% {
    font-size: 25px;
    opacity: 1;
  }
}

.hamburger:hover {
 cursor: pointer;
 animation: hoverAnimation 0.3s ease forwards;
 
}

.search {
  width: 700px;
  margin: 100px;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}





