.body {
  padding-top: 56px;
}
.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  height: 60px;
  cursor: pointer;
}

.nav-link {
  color: black;
}

.navbar-nav .navbar .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand img {
  height: 30px;
}

.nav-link {
  font-size: 14px;
}

.container-fluid {
  width: 400px;
  margin-right: 0px;
}


/* Home
Shop / Products
Categories
Offers / Deals
About Us
Contact Us */